.main-page {
    width: 100vw;
    height: 100vh;
    
}

.back-blue {
    background-color: #2291f2 !important;
}



.content-wrap {
    -webkit-app-region: no-drag;
    background-color: #363e47;
    height: 100%;
    display: flex;
}

