.chat-list-contents {
    width: 520px;
    height: 100%;
    display: inline-block;
    background-color: #363e47;
}

.chat-group-box {
        /* border-bottom: 1px solid #3e4a56; */
        padding: 2em 0 2em 1em;
        background-color: #323b44;
        color: #fff;
        position: relative;
}

.chat-group-img {
    background-image: url("../../../assets/system-users-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    /* position: absolute; */
}

.group-people-profile-wrap {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    width: 100px;
}