.chat-list-contents {
    width: 520px;
    height: 100%;
    display: inline-block;
    background-color: #363e47;
}

.chat-list-contents-title {
    color: #fff;
    padding: 12px 20px;
    background-color: #303841;
    /* text-align: center; */
    margin-bottom: 0;
    font-size: 17px;
}

.chat-groupbox {
    border-bottom: 2px solid #323b44;
    padding: 1.8em 0 4em 1em;
    background-color: #1fab89;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: .3s;
    margin: 10px 20px;
    border-radius: 5px;
}
.chat-groupbox:hover {
    background-color: #29b593;
}

.chat-groupbox-img {
    /* background-image: url("../../../assets/system-users-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; */
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* position: absolute; */
}

.chat-groupbox-img:nth-child(1) { z-index: 3; right: 45px;}
.chat-groupbox-img:nth-child(2) { z-index: 2; right: 27px;}


.chat-groupbox-title {
    font-size: 18px;
    text-overflow:ellipsis; 
    white-space:nowrap;
}

.chat-groupbox-subtitle {
    margin-left:3px;
    font-size: 13px;
    width: 300px;
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}