.chat-list-contents {
    min-width: 340px;
    height: 100%;
    display: inline-block;
    background-color: #363e47;
}

.chat-list-contents-title {
    color: #fff;
    padding: 12px 20px;
    background-color: #303841;
    /* text-align: center; */
    margin-bottom: 0;
    font-size: 17px;
}
