.user-list-contents {
    min-width: 340px;
    height: 100%;
    display: inline-block;
    background-color: #363e47;
}


.main-search-label {
    background-color: #303841;
    padding: 7px 13px;
    margin: 2.2em .6em .6em 1em;
    border-radius: 5px;
    color: #606979;
    font-size: 1em;
    width: 19em;
}

.main-search-label > i {
    margin-right: 5px;
}

.main-search-input {
    background-color: rgba(0,0,0,0);
    border: 0;
    outline: none;
    color: #606979;
    font-size: .9em;
}

.main-list-title {
    /* background-color: #eee; */
    font-weight: bold;
    color: #606979;
    padding: .4em 1em;
    /* border-bottom: 1px solid #eee; */
    font-size: .9em;
}
